.admin-dashboard .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 2rem;
  }
  
  .admin-dashboard .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 100%;
  }

  .admin-dashboard form{
    margin-top: 1rem
  }
  
  .admin-dashboard input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  .admin-dashboard button {
    padding: 10px 15px;
    background-color: #009879;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
  }
  

  .select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    position: relative;
    outline: none;
  }
  
  .select:focus {
    border-color: #007BFF; 
  }
  
  .select-container {
    position: relative;
  }
  
  .select-container::after {
    content: '▼';
    font-size: 12px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #333;
  }
  